<div>
    <!-- h1 for the -->
    <h1>Welcome to our COMP 1073 - Assignment 2!</h1>
    <!-- flavour text to explain the application -->
    <p>In this Angular application, we attempted to recreate a "Ticket Master" like site that exclusively does sports.</p>
    <p>This site is intended to be one that a site administrator would use to manage the content on the public site.</p>
    <p>On the left navigation bar, you can add and check all records for these five categories!</p>
    <p>From the list of records, one can also edit and delete any record already in the table.</p>
    <ul>
        <li>Sports ~ Any sport that the site has access to tickets for.</li>
        <li>Games ~ Any games that would have tickets sold for.</li>
        <li>Credit Card ~ Any different credit cards that are allowed for use on the site's e-commerce sales.</li>
        <li>Stadium ~ Any professional sports stadium that a team would play in. Good for customers who want info on locations and such.</li>
        <li>Promotion ~ Any promotion for the sales of the tickets.</li>
    </ul>
    <p>Site created by Mike Rosanelli, Jack Douma and Chris Veilleux</p>
</div>
    