<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Student Records</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    [mode]="isBiggerScreen() ? 'over' : 'side'"
    [(opened)]="opened"
    [fixedInViewport]="true"
    [fixedTopGap]
  >
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/add-student">
        <mat-icon>add</mat-icon> Add Student
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/students-list">
        <mat-icon>format_list_bulleted</mat-icon> View Students
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/add-game">
        <mat-icon>add</mat-icon> Add Game
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/games-list">
        <mat-icon>format_list_bulleted</mat-icon> View Games
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/add-sport">
        <mat-icon>add</mat-icon> Add Sport
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/sports-list">
        <mat-icon>format_list_bulleted</mat-icon> View Sport
        
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/add-credit">
        <mat-icon>add</mat-icon> Add Credit Card
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/credit-list">
        <mat-icon>format_list_bulleted</mat-icon> View Credit Cards
        
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/add-store">
        <mat-icon>add</mat-icon> Add Store
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/stores-list">
        <mat-icon>format_list_bulleted</mat-icon> View Stores
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
